<turbo-frame id="lead_status_<%= lead['id'] %>">
  <form action="<%= update_status_path(lead['id']) %>" method="post" data-turbo-frame="lead_status_<%= lead['id'] %>">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <select name="status_id">
      <% lead_statuses.each do |status| %>
        <option value="<%= status['id'] %>" <%= "selected" if lead['status_id'] == status['id'] %>>
          <%= status['label'] %>
        </option>
      <% end %>
    </select>
    <button type="submit">Save</button>
  </form>
</turbo-frame>