<header class="mb-3">
  <a href="#" class="burger-btn d-block d-xl-none">
    <i class="bi bi-justify fs-3"></i>
  </a>
</header>

<!-- Tabelle Container -->

<div class="page-heading">
  <div class="page-title">
    <h3>Leads</h3>
  </div>
</div>
<div class="page-content">
  <section class="section">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table" id="leadsTable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Contacts</th>
                <th>Created</th>
                <th>Kunde</th>
                <th>View in Close</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <% @leads.each do |lead| %>
                <tr>
                  <td><%= lead['name'] %></td>
                  <td>
                    <turbo-frame id="lead_status_<%= lead['id'] %>">
                      <%= render partial: "leads/status", locals: { lead: lead, lead_statuses: @lead_statuses } %>
                    </turbo-frame>
                  </td>
                  <td>
                    <% if lead['contacts'] %>
                      <% lead['contacts'].each do |contact| %>
                        <% if contact['urls'] && !contact['urls'].empty? %>
                          <% contact['urls'].each do |link| %>
                            <a href="<%= link['url'] %>" target="_blank"><%= contact['name'] %></a><br>
                          <% end %>
                        <% else %>
                          <%= contact['name'] %><br>
                        <% end %>
                      <% end %>
                    <% end %>
                  </td>
                  <td><%= DateTime.parse(lead['date_created']).strftime('%Y-%m-%d') %></td>
                  <td><%= lead['custom.cf_K3ausfM3pWXa7CAMQIpWV0eV7Dqc2IXIuOpiX4Luqa9'] %></td>
                  <td><a href="https://app.close.com/lead/<%= lead['id'] %>" target="_blank">View in Close</a></td>
                  <td>
                    <form action="<%= update_description_path(lead['id']) %>" method="post" data-remote="true">
                      <input type="hidden" name="_method" value="patch">
                      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                      <textarea class="form-control mb-2" name="description" rows="2" cols="20"><%= lead['description'] %></textarea>
                      <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <div>
  </section>
</div>

<!-- Skript zur Initialisierung der DataTable -->
<script>
  document.addEventListener('DOMContentLoaded', () => {  
    let table = new DataTable("#leadsTable", {
      responsive: true,
      // Weitere Optionen nach Bedarf hinzufügen
    });
  })
</script>
