<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Close Leads App" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "dataTables.bootstrap5.min.css", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "table-datatable-jquery.css", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "app.css", "data-turbo-track": "reload" %>
</head>

<body>
  <div id="app">
    <%= render "layouts/sidebar" %>
    <div id="main">
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "jquery.dataTables.min.js" %>
  <%= javascript_include_tag "dataTables.bootstrap5.min.js" %>
  <%= javascript_include_tag "app.js" %>
</body>
</html>
